# This workflow will build and publish a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

# Inspired by:
# 1. NeoVim's Nightly Release Workflow: https://github.com/neovim/neovim/blob/master/.github/workflows/release.yml
# 2. SeasonedInterloping Release Workflow: https://github.com/ds5678/SeasonedInterloping/blob/main/.github/workflows/publish.yml

name: Nightly Release

on:
  push:
    branches: [develop]

env:
  PROJECT_NAME: UniversalTweaks

jobs:
  build:
    name: Build Artifacts
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6

    - name: Setup .NET
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: 6.0.x

    - name: Query Date
      run: |
        echo "RELEASE_DATE=$(date -u +%Y%m%d)" >> $GITHUB_ENV

    - name: Build .NET Project
      run: dotnet build -c Release --version-suffix nightly.${{ env.RELEASE_DATE }}+g${GITHUB_SHA::7}

    - name: Move Files
      shell: bash
      run: |
        mkdir -p out
        cp "Source/bin/Release/net6.0/${{ env.PROJECT_NAME }}.dll" out/
        cp "Source/obj/Version.txt" out/

    - name: Upload Artifact
      uses: actions/upload-artifact@v5
      with:
        name: ${{ env.PROJECT_NAME }}
        path: out/*
        retention-days: 1
        if-no-files-found: error

  publish:
    name: Publish Nightly Release
    runs-on: ubuntu-latest
    needs: [build]

    env:
      GH_REPO: ${{ github.repository }}
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    
    permissions:
      contents: write

    steps:
    - uses: actions/checkout@v6

    - uses: actions/download-artifact@v7
      with:
        name: ${{ env.PROJECT_NAME }}
        path: out

    - name: Query Version
      shell: bash
      run: |
        VERSION=$(cat out/Version.txt | tr -d '\r')
        echo "VERSION=$VERSION" >> "$GITHUB_ENV"
        echo "Version=$VERSION"

    - name: Remove Release
      run: |
        gh release delete nightly --yes || true
        git push origin :refs/tags/nightly || true

    - name: Get Latest Release Tag
      id: latest
      run: |
        latest_tag="$(gh api repos/${{ github.repository }}/releases/latest --jq '.tag_name')"
        echo "latest_tag=$latest_tag" >> "$GITHUB_OUTPUT"

    - name: Publish Release
      run: |
        compare_url="https://github.com/${{ github.repository }}/compare/${{ steps.latest.outputs.latest_tag }}...nightly"
        
        gh release create nightly \
          --prerelease \
          --title "${{ env.VERSION }}" \
          --notes "Click on [this comparison](${compare_url}) to see what has changed since the latest release." \
          --target "${{ github.sha }}" \
          out/${{ env.PROJECT_NAME }}.dll