# This workflow will build and publish a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

# Inspired by:
# 1. NeoVim's Nightly Release Workflow: https://github.com/neovim/neovim/blob/master/.github/workflows/release.yml
# 2. SeasonedInterloping Release Workflow: https://github.com/ds5678/SeasonedInterloping/blob/main/.github/workflows/publish.yml

name: Release

on:
  push:
    branches: [develop]

env:
  PROJECT_NAME: UniversalTweaks
  TAG_NAME: nightly

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6

    - name: Setup .NET
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: 6.0.x

    - name: Build Nightly
      if: env.TAG_NAME == 'nightly'
      run: dotnet build -c Release --version-suffix nightly-${GITHUB_SHA::7}

    - name: Move Files
      shell: bash
      run: |
        mkdir -p out
        cp "${{ env.PROJECT_NAME }}/bin/Release/net6.0/${{ env.PROJECT_NAME }}.dll" out/
        cp "${{ env.PROJECT_NAME }}/obj/Version.txt" out/

    - name: Upload Artifact
      uses: actions/upload-artifact@v5
      with:
        name: ${{ env.PROJECT_NAME }}
        path: out/*
        retention-days: 1
        if-no-files-found: error

  publish:
    needs: [build]
    runs-on: ubuntu-latest

    env:
      GH_REPO: ${{ github.repository }}
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    
    permissions:
      contents: write

    steps:
    - uses: actions/checkout@v6

    - uses: actions/download-artifact@v6
      with:
        name: ${{ env.PROJECT_NAME }}
        path: out

    - name: Query Version
      shell: bash
      run: |
        VERSION=$(cat out/Version.txt | tr -d '\r')
        echo "VERSION=$VERSION" >> "$GITHUB_ENV"
        echo "Version=$VERSION"

    - name: Remove Nightly Release
      if: env.TAG_NAME == 'nightly'
      run: |
        gh release delete nightly --yes || true
        git push origin :refs/tags/nightly || true

    - name: Publish Nightly Release
      if: env.TAG_NAME == 'nightly'
      run: |
        gh release create nightly \
          --prerelease \
          --title "${{ env.VERSION }}" \
          --notes "See the [CHANGELOG.md](https://github.com/${{ github.repository }}/blob/develop/CHANGELOG.md) file for more details." \
          --target "$GITHUB_SHA" \
          out/${{ env.PROJECT_NAME }}.dll